{% extends "layout.html" %}

{% block mainContent %}

  <div>
  <h1 id="title">
    <span id="date">{{event.title}}</span>
  </h1>
  {{event.date|prettyDate}}
  <br>
  <img id="image" src="{{event.image}}">
  <br>
  The event will be at <span id="location">{{event.location}}</span>.
  <br>
  Attending:
  <ul id="attendees">
    {% for address in event.attending %}
      <li>{{address}}</li>
    {% endfor %}
  </ul>
  
  
  Do you want to attend this awesome event?
  <br>
  OF COURSE YOU DO! RSVP BELOW!
  <br>
  
   {% if errors %}
    <div>
      <p>Please correct the following errors!</p>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  <br>
  
  <form id="RSVP" method="POST">
    <label for="email">Email:</label>
    <input id = "email" type="email" name="email">
    <br>
    <button name="Submit" type ="Submit" id="Submit">RSVP</button>

    
    
  </form>
  
  
  
  
  </div>
<p>
  
  <a href="/donation" class="donation">Click here to donate to this event!</a>
  
</p>

{% endblock %}

